<p id="notice"><%= notice %></p>

<h1>Patient Show Page</h1>

<%= @patient.appointments.each do |appointment| %>
  <%= appointment.appointment_datetime.strftime("%B %e, %Y") %> at <%= appointment.appointment_datetime.strftime("%H:%M") %>
  <%= link_to appointment.doctor.name, doctor_path(appointment.doctor) %>
<% end %>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
